@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white-color: #f5f5f5;
  --purple-color: #2f234f;
  --light-purple-color: #7f57f1;
  --main-text-color: #333333;
  --text-color: #444444;
  --label-color: #555555;
  --border-color: #bbbbbb;
}

body {
  background-image: url("/marek-piwnicki-xfixPcc5aOE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: var(--light-purple-color);
}

a:hover {
  color: var(--purple-color);
}

.container {
  padding: 2rem;
  width: 90vw;
  max-width: 400px;
  border-radius: 0.25rem;
  background-color: var(--white-color);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #bbb;
}

.logo-container > a > img {
  width: 180px;
  margin-bottom: 1rem;
}

.text-container {
  text-align: center;
  margin: 2rem auto;
}

.text-container > h2 {
  margin-bottom: 0.5rem;
  color: var(--main-text-color);
  font-weight: 700;
}

.text-container > p {
  color: var(--text-color);
}

form {
  margin: 0 auto;
}

.column_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 0 0.25rem;
  outline: none;
  border-radius: 0.25rem;
  background-color: transparent;
}

input:focus {
  border: 1px solid var(--purple-color);
}

input[type="checkbox"] {
  accent-color: var(--purple-color);
}

label {
  margin-bottom: 0.25rem;
  color: var(--label-color);
}

.row_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.row_form > span {
  display: flex;
  align-items: center;
}

.row_form > span > label {
  margin-bottom: 0;
  margin-left: 0.25rem;
}

.forgot_form {
  margin: 4rem 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.75rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn_full {
  margin: 2rem auto 1rem;
  background-color: var(--purple-color);
  border: 1px solid var(--purple-color);
  color: var(--white-color);
}

.btn_clear {
  background-color: transparent;
  color: var(--purple-color);
  border: 1px solid var(--purple-color);
}

.btn_full:hover {
  transition: 0.25s;
  background-color: transparent;
  color: var(--purple-color);
  border: 1px solid var(--purple-color);
}

.btn_clear:hover {
  transition: 0.25s;
  background-color: var(--purple-color);
  color: var(--white-color);
}
